@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import './colors';

.main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: $purple;
    font-family: 'Roboto', sans-serif;
}

